# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\研一下\虚拟现实技术应用\MediaPipProj\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
